body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.svg-container {
    text-align: center;
}

.tooltip-retirement p {
    font: 14px sans-serif;
    margin: 2px 0;
}

.tooltip-education p {
    font: 14px sans-serif;
    margin: 2px 0;
}

.tooltip-education h2 {
    margin-top: 0;
    /* font-size: 30px; */
    /* font-size: 3vh; */
    font-size: 3wh;
    /* font-size: 100%; */
}
.tooltip-retirement h2 {
    margin-top: 0;
    /* font-size: 30px; */
    /* font-size: 3vh; */
    font-size: 3wh;
    /* font-size: 100%; */
}