body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tooltip {
    box-shadow: 5px 10px 10px #eee;
    position: absolute;
    text-align: center;
    border-radius: 0 !important;
    width: 380px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid #eee;
    border-radius: 8px;
    pointer-events: none;
}
.tooltip .right{
    transform: rotate(-45deg);
    border: solid #eee;
    border-width:0 5px 5px 0;
    display: inline-block;
    padding: 6px;
    top:18px;
    left: 99%;
    position: absolute;
    background: #fff;
}

.top-content-wrapper span {
    color: #02857F;
    font-size: 14px;
    font-weight: 700;
}
/*
.tooltip:after {
    content: '';
    
    position: absolute;
    left: 100%;
    top: 8px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    vertical-align: middle;
    border-left-color: #fff;
}*/

.tooltip .top-content-wrapper {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.tooltip .top-content-wrapper p {
    width: 70%;
    margin: 0 auto;
    font-size: 13px;
    font-color: #eee;
    font-weight: bold;
}

.tooltip .bottom-content-wrapper {
    padding: 10px;
    position: relative;
}

.tooltip .bottom-content-wrapper p {
    width: 85%;
    margin: 0 auto;
    font-size: 11px;
    font-color: #eee;
    font-style: italic;
}

.tooltip .bottom-content-wrapper p span {
    color: #02857F;
}